MYSQL_DATABASE=sleepr
MYSQL_USERNAME=root
MYSQL_PASSWORD=randomrootpassword
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_SYNCHRONIZE=true

RABBITMQ_URI=amqp://rabbitmq:5672

PORT=3000

AUTH_GRPC_URL=auth:5001

PAYMENTS_GRPC_URL=payments:5001